.container{
  width: 95%;
  margin: 20px auto;
}
.title{
  color: #f5c518;
  font-size: 27px;
  margin-top: 50px;
  padding-left: 3%;
}
.go-to-certain-page{
  background-color: #f5c518;
  padding: 10px;
  color: #141414;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  text-decoration: none;
  float: right;
  margin-right: 4%;
}